# "custom" package
3phi-framework==0.1.8.dev71+pr.9.sha62dce90e
# regular packages
s3fs
pyarrow
tqdm
scikit-learn
lightgbm
typing-extensions
pandas
dask==2025.5.1
distributed==2025.5.1
fsspec
asyncpg
psycopg2-binary
apache-airflow-providers-celery
apache-airflow-providers-amazon
lz4
toolz==0.12.0
tornado
msgpack==1.1.1
xxhash==3.5.0
graphviz
Flask-AppBuilder